* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #6D7B8D;
}

header {
    padding: 10px 30px;
    background-color: #000000;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-family: 'Acme', sans-serif;
    color: #C11B17;
}

.ricerca input {
    width: 200px;
    height: 30px;
    padding: 10px;
    border-radius: 5px;
    border: none;
}

.ricerca button {
    width: 80px;
    height: 30px;
    font-weight: bold;
    border-radius: 5px;
    font-family: sans-serif;
    background-color: #C11B17;
    border: none;
}

.ricerca button:hover {
    cursor: pointer;
    border: 1px solid black;

}

.container {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.card {
    min-width: 355px;
    max-width: 382px;
    min-height: 580px;
    background-color: #C11B17;
    font-family: 'Roboto', sans-serif;
    color: black;
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
}

.card img.copertina {
    width: 342px;
    margin-bottom: 5px;
}

.card:hover img.copertina {
    display: none;
}

.card:hover h3 {
    display: block;
}

.card:hover {
    cursor: pointer;
}

.card h3 {
    display: none;
}


.card i {
    color: #D4A017;
}
